* {
	margin:0;
	padding: 0;
}
img {
	max-width:100%;
}
body {
	background: #fff;
	color: #333;
	font-family: 'Poppins', sans-serif;;
	font-size: 14px;
	font-weight: normal;
	margin: 0 auto;
	overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #323232;
	margin: 8px 0;
	font-weight: 700;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: #231F20;
}
a {
	color: #231F20;
	text-decoration: none;
	list-style-type: none;
	transition: all ease-in-out .3s;
}
a:hover {
	color: #799735;
	text-decoration: none;
	transition: all 0.3s ease-in-out
}
h1 {
	font-size: 2.25rem;
}
h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.5rem;
}
h5 {
	font-size: 1.25rem;
}
h6 {
	font-size: 1rem;
}
ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}
button:focus {
	outline: none;
}
.mrg{
	margin: 5px 0;
}
.mrgt-0 {
	margin-top: 0;
}
.mrgb-0 {
	margin-bottom: 0;
}
.mrgb-5 {
	margin-bottom: 5px;
}
.mrgb-10 {
	margin-bottom: 10px;
}
.mrgb-20 {
	margin-bottom: 20px;
}
.mrgb-30 {
	margin-bottom: 30px;
}
.mrgb-50 {
	margin-bottom: 50px;
}
.pgb-10 {
	padding-bottom: 10px;
}
.pgb-20 {
	padding-bottom: 20px;
}
.pgb-30 {
	padding-bottom: 30px;
}
.pgb-40 {
	padding-bottom: 40px;
}
.pdr-10 {
	padding-right: 10px;
}
.pdr-20 {
	padding-right: 20px;
}
.pdr-30 {
	padding-right: 30px;
}
.pdt-10{
	padding-top: 10px;
}
.pdt-20{
	padding-top: 20px;
}
.pdt-30{
	padding-top: 30px;
}
.pdl-10 {
	padding-left: 10px;
}
.pdl-20 {
	padding-left: 20px
}
.pdl-30 {
	padding-left: 30px;
}
.pd-15 {
	padding: 15px;
}
.btn-all,
.btn-small,
.btn {
	background-color: transparent;
	border: 2px solid #799735;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 7px 20px;
	position: relative;
	font-size: 14px;
	letter-spacing:0.8px ;
	-moz-transition: all ease-in-out .3s;
	-webkit-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s;
	text-transform: uppercase;
	z-index: 1;
}
.btn-small {
	font-size: 14px;
	padding: 2px 8px;
}
.btn-all:before,
.btn-small:before,
.btn:before{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #799735;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.btn-all.green:before {
	background: #799735;
}
.btn-all.blue{
	border: 2px solid #0f2749
}
.btn-all.blue:before {
	background: #0f2749;
}
.btn-all .hvr-icon {
	margin-left: 5px;
}
.btn-all:hover .hvr-icon {
	transition: all ease-in-out .5s;
	margin-left: 10px;
}
.btn-all:hover,
.btn-small:hover,
.btn:hover {
	border-color: transparent;
	color: #fff;
}
.btn-all:hover:before,
.btn-small:hover:before,
.btn:hover:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
	transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
::selection {
	background-color: #323232;
	color: #fff;
}
.sect-all {
	padding: 50px 0 0;
}
.pgb-50 {
	padding-bottom: 50px;
}
.container-fluid {
	padding-left: 50px;
	padding-right: 50px;
}
.entry-header {
	margin-bottom: 30px;
}
.entry-header .entry-title {
	color: #799735;
	font-size: 36px;
	margin: 0;
}
.header-content {
	max-width: 907px;
	margin: 0 auto 30px;
}
.same-bg {
	background: #f4f2f1;
}
.bg-black {
	background: #282828;
	color: #fff;
}
.bg-black .entry-header .entry-title {
	color: #fff;
}
figure {
	margin-bottom: 0;
}
/********************************/
/* Css for  Navigation  */
/*****************************/
.overlap {
	position: relative;
	/*background: rgb(102, 102, 102);*/
	background: #141d36;
}
.site-header {
	padding: 15px 0;
	position: absolute;
	z-index: 99;
	width: 100%;
}
.banner{
	text-align: center;
	color: #fff;
}
.banner .banner-caption {
	padding: 30px;
}
.banner .banner-caption .title {
	color: #fff;
}
.logo {
	color: #fff;
	text-transform: uppercase;
	font-size: 42px;
}
.main-navigation {
	background: transparent;
	transition: all .6s ease-in-out;
	padding: 0;
}
.main-navigation .navbar-nav {
	width: 100%;
}
.nav-toggler {
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
	width: 35px;
	padding: 0 5px;
	display: none;
}
.nav-toggler:focus {
	outline: none;
}
.nav-toggler span {
	border-radius: 3px;
	width: 20px;
	height: 2px;
	background-color: #30271c;
	display: block;
	margin: 5px 1px;
	-moz-transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	transition: all ease-in-out 0.3s;
}
.main-navigation .navbar-collapse ul.navbar-nav > li {
	margin: 0;
	padding: 0;
}
.main-navigation .navbar-nav .nav-item>.nav-link {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.8px;
	padding: 15px;
	transition: all ease-in-out .3s;
	text-transform: uppercase;
}
.main-navigation .navbar-nav .nav-item>.nav-link:hover {
	color: #799735;
	transition: all ease-in-out .3s;
}
.main-navigation .navbar-nav .nav-item {
	position: relative;
}
/**********************************
/* Css for  shopping-cart   */
/*********************************/
.cart-item {
	position: relative;
}
.shoping-cart {
	font-size: 22px;
	color: #fff;
	position: relative;
}
.item-count {
	font-size: 11px;
	position: absolute;
	top: 0;
	right: 50%;
	width: 16px;
	height: 16px;
	text-align: center;
	margin-top: -1px;
	margin-right: -20px;
	color: #fff;
	border-radius: 50%;
	background: #900000;
}
.cart-wrap {
	margin-right: 10px;
	display: inline-block;
}
.cart-wrap .empty-cart, .cart-wrap .product-cart {
	background: #f4ffda;
	border-radius: 3px 0 3px 3px;
	padding: 15px;
	position: absolute;
	right: 0;
	top: -100%;
	transition: all .6s ease-in-out;
	visibility: hidden;
	width: 330px;
	z-index: 99;
}
.cart-wrap .empty-cart .close-icon:before {
	content: '+';
	font-size: 60px;
	font-weight: 200;
	color: #900000;
	transform: rotate(45deg);
	font-family: 'FontAwesome';
	text-align: center;
	display: block;
}
.cart-wrap:hover .product-cart,
.cart-wrap:hover .empty-cart {
	display: block;
	top: calc(100% + 15px);
	visibility: visible;
	transition: all .6s ease-in-out;
}
.cart-wrap:hover .product-cart{
	display: none;
	visibility: hidden;
}
.cart-product-item li {
	background: #e9f7c7;
	border-radius: 3px;
	padding: 10px;
	margin: 0;
	margin-bottom: 15px;
}
.cart-product-item a.d-flex {
	color: #333;
	align-items: center;
}
.cart-product-img {
	width: 80px;
	max-width: 80px;
	margin-right: 15px;
}
.cart-product-detail {
	width: calc(100% - 65px);
	position: relative;
	padding-right: 35px;
}
.cart-product-item p {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 0;
}
.cart-product-item p span {
	font-weight: normal;
	display: block;
}
button.cart-remove {
	background-color: transparent;
	border: 1px solid transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	cursor: pointer;
	width: 15px;
	height: 15px;
	line-height: 15px;
	color: #777474;
	text-align: center;
	position: absolute;
	right: 0;
	top: calc(50% - 13px);
	font-size: 12px;
	padding: 0;
	transition: all ease-in-out .6s;
}
/********************************
/* Css for fact-section */
/*************************************/
.fact-wrap {
	margin-bottom: -250px;
	padding-bottom: 50px;
	padding-top: 45px;
}
.fact-wrap .pdr {
	padding-right: 0;
}
.fact-wrap .pdl {
	padding-left: 0;
}
.fact-section .video-content{
	margin-top: -40px;
}
.fact-section .video-content .video-img {
	background: #000;
}
.fact-section .video-content .video-img img {
	opacity: 0.7;
	width: 100%;
}
.fact-section .video-content .play-icon {
	left: 0;
	margin: 0 auto;
	padding: 5px 10px;
	position: absolute;
	right: 0;
	top: 50%;
	text-align: center;
}
.fact-section .video-content .play-icon .btn-all-inverse {
	border-radius: 0;
	font-size: 18px;
}
.fact-wrap .row {
	align-items: center;
}
.fact-wrap .icon-holder {
	margin-bottom: 20px
}
.fact-wrap .title {
	color: #fff;
}
.fact-wrap .fact-content {
	background: #c8833f;
	color: #fff;		
	padding: 30px;
}
.fact-wrap .fact-icon .icon {
	height: 70px;
	border-radius: 100%;
	border: 2px solid #fff;
	color: #fff;
	font-size: 30px;
	line-height: 70px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	transition: all ease-in-out .5s;
	width: 70px;
}
.fact-wrap .fact-icon .icon:hover,
.fact-wrap .icon-holder:hover .icon{
	transition: all ease-in-out .5s;
	transform: scale(1.2);
}
/**********************************
/* Css for  product tabs   */
/*********************************/
.tab-section {
	padding-top: 250px;
	padding-bottom: 50px;
}
.tab-section .product-tabs {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}
.product-tabs .nav-pills {
	display: inline-flex;
	margin-right: auto;
}
.product-tabs .website-search input{
	background: #383737;
	border: 1px solid #383737;
	font-size: 14px;
	padding: 5px 15px;
	color: #fff;
}
.product-tabs .nav-link{
	background: none;
	color: #fff;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 500;
	padding: 7px 0;
	margin: 0 15px;
	position: relative;
	cursor: pointer;
	display: inline-block;
	border-radius: 0;
	border-bottom: 3px solid transparent;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	margin-bottom: -2px;
	border-bottom: 3px solid transparent;
}
.product-tabs .nav-item:first-child .nav-link {
	margin-left: 0;
}
.product-tabs .nav-link.active {
	background: transparent;
	color: #799735;
	border-bottom: 3px solid #799735;
}
.product-block {
	position: relative;
	transition: 15s;
	margin-bottom: 30px;
}
.product-block .product-img{
	margin: auto;
	box-shadow: 0 2px 5px rgba(0,0,0,0.5);
	cursor: n-resize;
}
.product-block .product-img img {
	width: 100%;
	object-fit: cover;
	object-position: top;
	height: 270px;
	transition: 8s all ease;
}
.product-block:hover .product-img img{
	object-position: bottom;
}
.product-block .product-content {
	background: #2d2d2d;
	padding: 7px 5px;
}
.product-block .product-name .title {
	color: #fff;
}
.product-block .hover-info {
	position: absolute;
	top: 30%;
	left: 41%;
}
.tab-section .product-tab-content .btn-all {
	margin: 0 auto;
}
.product-block .hover-info .view-btn {
	border-radius: 50%;
	color: #fff;
	border: 3px solid #799735;
	width: 50px;
	height: 50px;
	line-height: 40px;
	display: block;
	text-align: center;
	visibility: hidden;
	opacity: 0;
}
.product-block .hover-info .view-btn:after {
	border: 5px solid #799735;
	content: "";
	border-radius: 50%;
	bottom: 0;
	left: 0;
	opacity: 1;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	-ms-transform: scale(1);
	transform: scale(1);
	visibility: hidden;
	z-index: 1;
}
.product-block .thumb:hover .view-btn,
.product-block:hover .view-btn {
	background: #799735
}
.product-block .thumb:hover .view-btn:after,
.product-block:hover .view-btn:after {
	opacity: 0;
	transition: 1.5s ease;
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	visibility: visible;
}
.product-block .thumb:hover .hover-info .view-btn,
.product-block:hover .hover-info .view-btn {
	opacity: 1;
	visibility: visible;
}
.product-block:hover {
	box-shadow: 0px 1px 5px rgb(35 33 33 / 28%);
}
.product-block:hover .product-name .title {
	color: #799735;
}
/**********************************
/* Css for  product tabs   */
/*********************************/
